<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Топик закрыт</title>
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="header">
                    <h1>Топик закрыт!</h1>
                    <div>
                        <a class="hlink" href="/admin/Все">Вернуться</a>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>